<% layout("/layouts/boilerplate") -%>
<div class="row m-0">
  <div class="col-8 offset-2">
    <h2><%= post.title %></h2>
  </div>
  <div class="card show-card col-6">
    <img
      src="<%= post.image%>"
      class="card-img-top card-img-show"
      alt="Image"
    />
    <div class="card-body">
      <p class="card-text">
        <%= post.description %> <br />
        <i class="fa-solid fa-tag"></i> &#8377;<%=
        post.price.toLocaleString("en-IN") %> <br />
        <i class="fa-solid fa-location-dot"></i> <%= post.location %><br />
        <i class="fa-solid fa-phone"></i> <%= post.contact %> <br />
      </p>
    </div>
  </div>
  <div class="show-btns">
    <a
      style="margin-right: 2rem"
      href="/listings/<%= post._id %>/edit"
      class="col-1 offset-3"
      ><button class="btn btn-dark form-btn">update</button></a
    >
    <form method="post" action="/listings/<%= post._id%>?_method=DELETE">
      <button class="btn btn-dark offset-5">Delete</button>
    </form>
  </div>
</div>
